# Задание 1

### 1.1. Загружаем "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn и создаем датафреймы X и У из этих данных.

In [25]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [26]:
boston = load_boston()

In [27]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [28]:
data = boston["data"]

In [29]:
feature_names = boston["feature_names"]

In [30]:
X = pd.DataFrame(data, columns=feature_names)

In [31]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [32]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

*таблица не содержит пропущенных значений*

In [33]:
target = boston["target"]

In [34]:
y = pd.DataFrame(target, columns=["price"])

In [35]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

*таблица не содержит пропущенных значений*

### 1.2. Разбиваем датафреймы на тренировочные X_train, y_train и на тестовые X_test, y_test, размер тестовой выборки должен составлял 30% от всех данных, аргумент random_state должен быть равен 42

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### 1.3. Создаем модель линейной регрессии с помощью класса LinearRegression

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr = LinearRegression()

### 1.4. Обучение модели на тренировочных данных и произведение предсказаний на тестовых датафреймах

In [40]:
lr.fit(X_train, y_train)

LinearRegression()

In [41]:
y_pred = lr.predict(X_test)

In [42]:
y_pred.shape

(152, 1)

#### Оценим то, насколько отличаются реальные значения от предсказанных

In [43]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [44]:
from sklearn.metrics import mean_squared_error

mean_squared_error(check_test["y_pred"], check_test["y_test"])

21.517444231177134

### 1.5. Вычислим R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(y_test, y_pred)

0.7112260057484943