# Задание 2

In [3]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [4]:
boston = load_boston()

In [5]:
data = boston["data"]

In [6]:
feature_names = boston["feature_names"]

In [7]:
X = pd.DataFrame(data, columns=feature_names)

In [8]:
target = boston["target"]

In [9]:
y = pd.DataFrame(target, columns=["price"])

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### 2.1. Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
model = RandomForestRegressor(n_estimators = 1000, max_depth=12, random_state=42)

In [14]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [15]:
y_pred = model.predict(X_test)

In [16]:
y_pred.shape

(152,)

In [17]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [18]:
from sklearn.metrics import mean_squared_error

mean_squared_error(check_test["y_pred"], check_test["y_test"])

9.334548946165196

### 2.2. Вычислим R2 полученных предказаний

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2_score(y_test, y_pred)

0.87472606157312

*Оценка эффективность R2 модели RandomForestRegressor (0.874) намного выше чем у модели LinearRegression (0.711)*

# Задание 3

In [21]:
help(RandomForestRegressor.feature_importances_)

Help on property:

    The impurity-based feature importances.

    The higher, the more important the feature.
    The importance of a feature is computed as the (normalized)
    total reduction of the criterion brought by that feature.  It is also
    known as the Gini importance.

    Warning: impurity-based feature importances can be misleading for
    high cardinality features (many unique values). See
    :func:`sklearn.inspection.permutation_importance` as an alternative.

    Returns
    -------
    feature_importances_ : ndarray of shape (n_features,)
        The values of this array sum to 1, unless all trees are single node
        trees consisting of only the root node, in which case it will be an
        array of zeros.

In [22]:
print(model.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [23]:
feature_importance = pd.DataFrame({
    'name':X.columns,
    'feature_importance':model.feature_importances_},
    columns=['feature_importance', 'name']
)

In [24]:
feature_importance

    feature_importance     name
0             0.031676     CRIM
1             0.001543       ZN
2             0.007138    INDUS
3             0.001236     CHAS
4             0.014269      NOX
5             0.402682       RM
6             0.014299      AGE
7             0.063973      DIS
8             0.005281      RAD
9             0.011525      TAX
10            0.018081  PTRATIO
11            0.012451        B
12            0.415847    LSTAT

In [25]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM

Признаки LSTAT и RM показывают наибольшую важностью